@page
@model IT2163_01_231928H_JoonJunHan.Pages.errors._403Model
@{
    ViewData["title"] = "Forbidden";
}
<div class="container" style="text-align: center; color: #888;">
    <h1 style="font-size: 150px; color: #888; margin-bottom: 0px;">403</h1>
    <p style="font-size: 50px;">You are not authorized to view this page.</p>
    <p>It seems like you don't have permission to access this page.</p>
    <a asp-page="/Index">Go back to Home</a>
</div>