@page
@model IT2163_01_231928H_JoonJunHan.Pages.errors._500Model
@{
    ViewData["title"] = "Internal Server Error";
}
<div class="container" style="text-align: center; color: #888;">
    <h1 style="font-size: 150px; color: #888; margin-bottom: 0px;">500</h1>
    <p style="font-size: 50px;">Something went wrong on our end.</p>
    <p>Our team is working to resolve the issue. Please try again later.</p>
    <a asp-page="/Index">Go back to Home</a>
</div>
